<div class="w3-bar-block w3-light-grey ">
  <a  class="w3-bar-item w3-button" routerLink="/githubComponent" routerlinkActive="active">Github</a>
  <a  class="w3-bar-item w3-button" routerLink="/AngularComponent">angular</a>
  <a  class="w3-bar-item w3-button"routerLink="/HTMLComponent">html</a>
  <a  class="w3-bar-item w3-button" routerLink="/CssComponent">css</a>
  <a  class="w3-bar-item w3-button"routerLink="/JAVASCRIPTComponent">javascript</a>
  <a  class="w3-bar-item w3-button"routerLink="/BOOTSTRAPComponent">bootstrap</a>
  <a  class="w3-bar-item w3-button"routerLink="/TYPESCRIPTComponent">Typscript</a>
  
</div>

