<!-- <mat-card>Simple card</mat-card> -->

<h1>github matireal</h1>
  <div class="">
    <a target="_blank" href="assets/github.jpg" class="imat">
      <img src="assets/github.jpg" alt="Cinque Terre" width="140px" >
    </a>
    <a target="_blank" href="assets/branch.jpg" class="imat">
      <img src="assets/branch.jpg" alt="Cinque Terre" width="140px" >
    </a>
    <div class="container__text">
      <h2><mark>git init</mark></h2>
      <p></p>
      <h2><mark>git status</mark></h2>
      <p></p>
      <h2><mark>git branch (raju)</mark></h2>
      <p></p>
      <h2><mark>git checkout (raju)</mark></h2>
      <p></p>
      <h2><mark>git  branch</mark></h2>
      <p></p>
      <h2><mark>git checkout (main)</mark></h2>
      <p></p>
      <h2><mark>git merge (raju)</mark></h2>
      <p></p>
      <h2><mark>git add -A</mark></h2>
      <p></p>
      <h2><mark>git commit -m 'kuch v ho skta d </mark></h2>
      <p></p>
      <h2><mark>git remote add origin https://github.comgyandrauii65374/test11.git</mark></h2>
      <p></p>
      <h2><mark>git push -u origin main</mark></h2>
      <p></p>
      <h2><mark>------------$$$$$$$$$$$$-----------------------------------new file creat in computter-------------------------------</mark></h2>
      <p></p>
      <h2><mark>git clone https//--------</mark></h2>
      <p></p>
      <h2><mark>git pull origin main</mark></h2>
      <p></p>
      <h2><mark>git checkout .</mark></h2>
      
      <p></p>
    </div>
  </div>
  <div class="gallery" style=" float: right; position: relative; bottom: 300px; right: 250px;">
    <a target="_blank" href="https://youtu.be/_zOyHlxdboI">
      <img src="assets/git.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc"><h1>github video</h1></div>
    